@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.none {
    display: none !important;
}

/*HEADER*/

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 154, 154);
    position: relative;
    background-image: url(./img/1618476021_44-phonoteka_org-p-fon-dlya-shapki-saita-58.jpg);
    background-size: cover;
}

.header-title {
    margin: 0;
    font-size: 56px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 5px;
}

.header-subtitle {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.2em;
}

.down-arrow {
    width: 58px;
    height: 28px;
}

.header-arrow {
    position: absolute;
    bottom: 25px;
}

/*PORTFOLIO*/

.portfolio {
    padding-top: 85px;
    padding-bottom: 115px;
}

.portfolio-header {
    margin: 0;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #000;
}

img {
    width: 500px;
    height: 240px;
}

.portfolio-cards-wrapper {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    max-width: 540px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
}

.card:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.card-img {
    margin-bottom: 20px;
}

.cart-title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #000;
}

.card p {
    margin: 0;
    font-size: 16px;
    line-height: 130%;
    color: #000;
}

/*FOOTER*/

.footer {
    padding-top: 48px;
    padding-bottom: 130px;
    background-color: #1e4776;
    color: #fff;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-copyright {
    color: #7e9ec9;
}

.footer-copyright-name {
    font-size: 28px;
    line-height: 130%;
    font-weight: 700;
}